.footer{
    /* position: sticky;
    bottom: 0; */
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 140px;
    h1{
        color: #071739;
    }
    p{
        color: #4A6382;
    }
    hr{
        color: #071739;
        width: 90%;
    }
    .footerDown{
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 12px;
        background-color: #071739;
        p{
            color: #F0D7B8;
        }
    }
    .feedbackInput{
        border-radius: 8px;
        border: 0.5px solid #071739;
        input{
            font-size: 16px;
            background: transparent;
            border: 0;
            outline: 0;
            color: #949494;
            font-size: 16px;
            padding: 12px 181px 12px 16px;
        }
        span{
            color: #4A6382;
            font-weight: bold;
            padding-right: 16px;
            cursor: pointer;
        }
        span:hover{
            text-decoration: underline;
        }
    }


}
