.list{
    background: rgba(7, 23, 57, 0.1);
    border: 1px solid #071739;
    border-radius: 8px;
    width: 961px;
    padding: 36px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A6382;
    margin-bottom: 18px;
}

.list img{
    width: 24px;
    user-select: none;
}

.list-title{
    font-weight: 900;
    font-size: 30px;
}

.category{
    background: #FFFFFF;
    border: 1px solid #4A6382;
    border-radius: 204px;
    padding: 10px 56px;
}

.security{
    background: #FFFFFF;
    border: 1px solid #4A6382;
    border-radius: 204px;
    padding: 10px 30px 10px 63px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.security img{
    width: 12px;
    height: 10px;
    user-select: none;
}

.progress{
    display: flex;
    gap: 13px;
    background: rgba(74, 99, 130, 0.1);
    border-radius: 4px;
    padding: 10px 12px;
}

.progress img{
    width: 20px;
    user-select: none;
}
